*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6563ff;
}

.wrapper{
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card{
    height: calc(100%/4 - 10px);
    width: calc(100%/4 - 10px);
    cursor: pointer;
    perspective: 800px;
    position: relative;
    transform-style: preserve-3d;
}

.cards .card .view{
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
    backface-visibility: hidden;
}

.card .front-view span{
    font-size: 43px;
    color: #6563ff;
}

.card .back-view{
     transform: rotateY(-180deg);  
}

.card .back-view img{
    max-width: 45px;
}

.card:hover .front-view{
    transform: rotateY(180deg);
}

.card:hover .back-view{
    transform: rotateY(0);
}