.social-share-wrapper div
{
	float: left;
	margin-right: 10px;
}

.social-share-wrapper div.share-on
{
	padding: 5px;
	font-weight: bold;
}

.social-share-wrapper div.facebook
{
	background-color: #3a5795;
	padding: 5px;
}

.social-share-wrapper div.facebook a
{
	color: white;
}

.social-share-wrapper div.twitter
{
	background-color: #55acee;
	padding: 5px;
}

.social-share-wrapper div.twitter a
{
	color: white;
}

.social-share-wrapper div.linkedin
{
	background-color: #007bb6;
	padding: 5px;
}

.social-share-wrapper div.linkedin a
{
	color: white;
}

.social-share-wrapper div.reddit
{
	background-color: #ACD4FC;
	padding: 5px;
}

.social-share-wrapper div.reddit a
{
	color: white;
}

.social-share-wrapper div a
{
	text-decoration: none;
	border: none;
}

.clear
{
	clear: left;
}<style>
.social-share-wrapper div
{
  float: left;
  margin-right: 10px;
}

.social-share-wrapper div.share-on
{
  padding: 5px;
  font-weight: bold;
}

.social-share-wrapper div.facebook
{
  background-color: #3a5795;
  padding: 5px;
}

.social-share-wrapper div.facebook a
{
  color: white;
}

.social-share-wrapper div.twitter
{
  background-color: #00acee;
  padding: 5px;
}

.social-share-wrapper div.twitter a
{
  color: white;
}

.social-share-wrapper div.linkedin
{
  background-color: #007bb6;
  padding: 5px;
}

.social-share-wrapper div.linkedin a
{
  color: white;
}

.social-share-wrapper div.reddit
{
  background-color: #ff3f18
;
  padding: 5px;
}

.social-share-wrapper div.reddit a
{
  color: white;
}

.social-share-wrapper div a
{
  text-decoration: none;
  border: none;
}

.social-share-wrapper div.whatsapp
{
  background-color: #25D366;
  padding: 5px;
}

.social-share-wrapper div.whatsapp a
{
  color: white;
}

.social-share-wrapper div.instagram
{
  background-color: #C13584;
  padding: 5px;
}

.social-share-wrapper div.instagram a
{
  color: white;
}


.social-share-wrapper div.gmail
{
  background-color: #BB001B;
  padding: 5px;
}

.social-share-wrapper div.gmail a
{
  color: white;
}
	